.wee-card {
  margin-top: 18px;
  margin-bottom: 0;
  padding: 24px 28px;
  border-radius: 12px;
  background: hsl(var(220 20% 95%));
  box-shadow: 0 1.5px 6px #0099ff08;
  border: hsl(var(220 10% 80%));
}

.wee-card-header {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.wee-card-title {
  font-size: 1.18em;
  font-weight: 600;
  color: #222;
}

.wee-card-separator {
  height: 1px;
  background: #e0e0e6;
  margin: 10px 0;
}

.wee-card-desc {
  color: #555;
  font-size: 0.97em;
  margin-bottom: 10px;
} 